/*----------------- For Maps Our Location -------------------------------- */
/* line 1060, ../sass/partial/_shared.scss */
.squareChatButton {
    width: 50px;
    height: 40px;
    bottom: 15px;
    right: 60px;
    position: fixed;
    color: #fff;
    background: #77b94a;
}
/* line 1072, ../sass/partial/_shared.scss */
.squareChatButtonLeft, .squareChatButtonRight {
    top: 0;
    height: 40px;
    position: absolute;
}
/* line 1079, ../sass/partial/_shared.scss */
.squareChatButtonLeft {
    z-index: 0;
    opacity: 0;
    left: 0;
    width: 90px;
    position: relative;
    pointer-events: none;
    text-align: left;
    padding: 10px 5px 10px 12px;
}
/* line 1089, ../sass/partial/_shared.scss */
.squareChatButtonRight {
    z-index: 1;
    width: 50px;
    right: 0;
    padding: 3px 0;
    text-align: center;
}
/* line 1096, ../sass/partial/_shared.scss */
.squareChatButton:hover {
    width: 130px;
    background: #479414;
}
/* line 1099, ../sass/partial/_shared.scss */
.squareChatButton:hover .squareChatButtonLeft {
    opacity: 1;
}
.animate-fast, .animateFast, .owl-dots .owl-dot > span, .alert, .alert.active, .scrollTop, .smartCountList li a, .smartCountList li figure, .filterBar > li > a, .filterBar > li > a[aria-expanded]:before, .squareChatButton, .squareChatButtonLeft, .squareChatButtonRight, ul.menu.stack li > a, ul.menu.stack li > a:before, .map svg.hoverDtls .locationDtl, .map svg.hoverDtls .locationDtl .svgTooltip, .alphaBar > li > a, .btn, .snackbar-action, input[type="radio"].switch + label:after, input[type="radio"].switch + label:before,
input[type="checkbox"].switch + label:after,
input[type="checkbox"].switch + label:before, header.header, header.header .togglerBtn i, header.header .togglerBtn i:after, header.header .togglerBtn i:before, header.header.fixed .selectLang > a:before,
header.header.fixed .searchArea > a:before, header.header.fixed .chooseLocale, header.header.fixed nav.menu > ul > li:before, header.header.fixed nav.menu > ul > li > a, header.header.fixed nav.menu > ul > li > a:before, header.header.fixed nav.menu > ul > li nav.submenu > nav > li a, header.header.fixed nav.menu > ul > li nav.submenu > ul > li a, .sideMenu, .sideMenu ul.menu, .sideMenu ul.menu li > a, .slidePage.products .productGrid.masonry .item, .slidePage.products .productGrid.masonry .grid-sizer, .event li, .blogs li, .newsLetterList li,
.productList li, .panel-group.faq .panel-default > .panel-heading a[aria-expanded]:after, .panel-group.faq .panel-default > .panel-heading a[aria-expanded]:before, .contactMap .locationDtls {
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}
.description {
    max-width: 600px;
    margin: 0 auto;
    color: rgba(229, 229, 229, 0.7);
}
.rt-container {
    margin: 0 auto;
    padding-left:12px;
    padding-right:12px;
}
.rt-row:before, .rt-row:after {
    display: table;
    line-height: 0;
    content: "";
}
.rt-row:after {
    clear: both;
}
[class^="col-rt-"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 15px;
    min-height: 1px;
    position: relative;
}
@media (min-width: 768px) {
    .rt-container {
    width: 750px;
    }
    [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
    }
    .col-rt-6, .col-rt-12 {
    width: 100%;
    }
}
@media (min-width: 1200px) {
    .rt-container {
        width: 1170px;
    }
    .col-rt-1 {
        width:16.6%;
    }
    .col-rt-2 {
        width:30.33%;
    }
    .col-rt-3 {
        width:50%;
    }
    .col-rt-4 {
        width: 67.664%;
    }
    .col-rt-5 {
        width: 83.33%;
    }
}
@media only screen and (min-width:240px) and (max-width: 768px){
        .ScriptTop h1, .ScriptTop ul {
        text-align: center;
    }
    .ScriptTop h1{
        margin-top:0;
        margin-bottom:15px;
    }
    .ScriptTop ul{
            margin-top:12px;       
    }
    .ScriptHeader h1,
    .ScriptHeader h2, 
    .scriptnav ul{
        text-align:center;  
    }
    .scriptnav ul{
            margin-top:12px;       
    }
    #float-right{
        float:none; 
    }
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered-y {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-100%);
}
.distribution-map {
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
.distribution-map > img {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
.distribution-map .map-point {
    cursor: pointer;
    outline: none;
    z-index: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 13px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;
    transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
    transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    background: rgba(26, 26, 26, 0.85);
    border: 3px solid #abf77f;
}
.distribution-map .map-point .content {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    left: 50%;
    overflow: overlay;
}
.distribution-map .map-point:active, .distribution-map .map-point:focus {
    margin: 0;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    width: 300px;
    height: 220px;
    color: #e5e5e5;
    z-index: 1;
    transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
}
.distribution-map .map-point:active .content, .distribution-map .map-point:focus .content {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    transition-delay: 0.25s, 0s, 0s;
    transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    overflow: hidden;
}
.distribution-map .map-point:active .content a:hover, .distribution-map .map-point:active .content a:active, .distribution-map .map-point:focus .content a:hover, .distribution-map .map-point:focus .content a:active {
    color: #afe1fa;
}