@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1440px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.disabled{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #000;
}
.btn{
    background-color: #77b94a;
    color: #fff;
    border: 0;
}
.btn:hover{
    background-color: #479414;
    color: #fff;
    border: 0;
}
main{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* start header */
header{
    position: sticky;
    top: 0px;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
header .header-one .colum-header-one-nav > ul{
    display: flex;
    justify-content: end;
    align-items: center;
}
header .header-one .colum-header-one-nav > ul li a.header-one-nav{
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    padding: 0px .8rem;
    color: #434f61;
}
header .header-bottom .nav-item > ul{
    display: flex;
}
header .header-bottom .nav-item > ul li a.header-bottom-nav{
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    padding: 0px .9rem;
    color: #000;
    text-decoration: none;
}
header input.fm-header-one-search {
    padding: 5px;
    font-size: 12px;
    border: 0px;
    max-width: 80px;
}
header form.header-one-nav{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid rgba(0,0,0, 0.8);
}
header .header-top .header-one-nav >i{
    color: #434f61;
    font-size: 12px;
}
header a.header-bottom-nav i{
    margin-left: .2rem;
}


/* dropdown template */
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #4154f1;
  }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
/* end dropdown template   */
/* end header */

/* start footer */
footer{
    padding-top: 20px;
}
footer .social-media > ul{
    display: flex;
    line-height: 0.2rem;
    letter-spacing: 20px;
}
footer .social-media > ul li a {
    color: #000;
    font-size: 20px;
}
footer .ft-colum-nav > ul li a.ft-ctg-title{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Poppins', poppins, sans-serif;
}
footer .ft-bottom .ft-bt-tl{
    font-size: 13px;
}
footer .ft-bottom{
    border-top: 1px solid rgba(0,0,0,0.2);
}
footer a{
    color: #77b94a;
}
/* end footer */



/* start main */

/* home page */
.col-md-6.colum-tl-tradeasia {
    justify-content: center;
    align-items: center;
    display: flex;
}
.section-home-two{
    background-color: #f3f4f6 !important;
}
.section-home-four{
    background-color: #f3f4f6 !important;
}
.col.column-top-scrap{
    text-align: center;
}
.tl-top-scrap{
    padding-top: 20px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.card-text{
    font-size: 14px;
    line-height: 1.5;
}
.section-home-three{
    background-color: #A6A15D;
}
.tl-news-article{
    padding-left: 90px;
}
.tl-news-article-one{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.sub-tl-news-article-one{
    margin-bottom: 20px;
}
.col-md-6.column-news-article{
    justify-content: center;
    align-items: center;
    display: flex;
}
.sub-tl-news-article-two{
    margin-top: 70px;
}
.column-news-events{
    text-align: center;
}
.column-tl-sign-in-two{
    justify-content: center;
    align-items: center;
    display: flex;
}
.tl-sign-in .btn-sign-in-h{
    margin-top: 20px;
}
p.kd-ctg{
    margin-bottom: 0px;
    font-size: 12px;
}
main.ctg .link a.ctg-active{
    color: #77b94a;
}
.section-banner{
    background: url(../img/bn-home.jpg)  no-repeat right center;
    height: 276px;
}
.section-banner h1, h2{
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
}
.section-banner h1{
    font-weight: bold;
    font-size: 52px;
    color: #77b94a;
    text-transform: uppercase;
}
.section-home-one h1.tl-tradeasia-one{
   margin-bottom: 30px;
}
.section-category ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-category ul a.btn-ctg-home{
    margin-right: 10px;
}
.section-category .tl-cth-home-one{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 12px;
}
.r-ctg-home{
    background-color: #A6A15D;
    border-radius: 20px;
}
.colum-btn-view{
    text-align: center;
}
.colum-btn-view a.btn-ctg-view{
    font-size: 16px;
    width: 200px;
    border-radius: 20px;
}
.section-home-four h1.sub-tl-sign-in{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 30px;
}
.section-home-five .sb-news{
    text-align: center;
}
.bn-article-h{
    color: #77b94a;
}
.bn-article-h:hover{
    color: #479414;
    text-decoration: none;
}
.fm-home{
    background-color: #8fc48f;
    margin-left: 420px;
    margin-right: 420px;
    border-radius: 20px;
    padding: 5px;
}
.fm-home-two{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #8fc48f;
    
}
.fm-home-two.ket-fm-home{
    padding-left: 10px;
    border-radius: 10px;
}
.fm-home-two.ket-fm-home.n-m{
    padding-top: 5px;
    padding-bottom: 5px;
}
/* end home page */

/* start category product */
main.ctg{
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}
main.ctg .link {
    margin-top: 20px;
    margin-bottom: 20px;
}
main.ctg .link a{
    color: #000;
    text-decoration: none;
}
main.ctg .colum-sc-ctg .sc-ctg{
    justify-content: end;
}
main.ctg .colum-sc-ctg .sc-ctg .fm-sc-ctg{
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}
main.ctg input.in-sc-ctg {
    border: 0;
}
.fm-ctg{
    margin-top: 20px;
}
.btn-ctg-filter{
    margin-top: 20px;
}
/* start category product */

/* start privacy policy */
h1.privacy-p{
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.pp-one .link a{
    color: #000;
    text-decoration: none;
}
.pp-one .link a.ctg-active{
    color: #77b94a;
}
/* end privacy policy */

/* start terms and condition */
h1.conditions-t{
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}
/* end terms and condition */

/* start contact us */
.img-contact{
    padding-bottom: 30px;
}
.link a{
    color: #000;
}
.link a.ctg-active{
    color: #77b94a;
}
.column-contact-two{
    justify-content: center;
}

/* start telphone */
.intl-tel-input {
    display: table-cell;
  }
  .intl-tel-input .selected-flag {
    z-index: 4;
  }
  .intl-tel-input .country-list {
    z-index: 5;
  }
  .input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
  }
/* end contact us */

/* start faq */
.faq{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq a{
    color: #fff;
}
.tl-faq {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-faq{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.accordion-item{
    background: #77b94a;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 2rem;
    box-shadow: .3rem 1px .3rem rgb(72, 156, 93);
}
.accordion-item a{
    font-size: 18px;
    font-weight: 10px;
    text-decoration: none;
}
.accordion-link{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #77b94a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.accordion-link i{
    color: #fff;
    padding: 3px;
}
.accordion-link .fa-minus{
    display: none;
}
.answer{
    max-height: 0; /* animasi flow */
    overflow: hidden;
    position: relative;
    background-color: #77b94a;
    color: #fff;
    transition: max-height 650ms;
}
.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc48f;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.answer p{
    color: rgb(255, 255, 255, .6);
    font-size: 14px;
    padding: 2rem;
}
.accordion-item:target .answer{
    max-height: 10rem;
}
.accordion-item:target .accordion-link .fa-plus{
    display: none;
}
.accordion-item:target .accordion-link .fa-minus{
    display: block;
}
/* end faq */

/* start company */
.jmb-company{
    background: url(../img/bn-company.jpg);
    background-size: cover;
    height: 500px;
}
.section-two-cm{
    background-color: #A6A15D;
    text-align: center;
}
.pc-company {
    text-align: -webkit-center;
}
.tl-bn-com{
    text-align: center;
    margin-top: 100px;
}
/* end company */

/* css form */
:root{
    --green: #77b94a;
    --dark-green : #479414;
    --grey: #B7B7B7;
    --dark-grey: #707070;
    --light-grey: #F4F4F4;
}
.bg-green{
    background-color: var(--green);
}
.text-line-white{
    margin-top: 20px;
    border-top: 5px solid #fff;
}
#form-content .img-logo{
    width:8rem;
}
#login .container h1{
    font-size: 28px;
    font-weight:700;
    margin-bottom: 0;
    text-align: center;
}
#login .container h2{
    font-size: 16px;
    font-weight:600;
    text-align: center;
}
#login .card{
    border-radius: 10px;
}
.input-form-login, .was-validated .input-wrap .input-form-login{
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid var(--light-grey);
    background-color: var(--light-grey);
    padding-left: 40px;
    color: var(--dark-blue);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-form-login:focus, .was-validated .input-wrap .input-form-login:focus {
    border-color: var(--green);
    outline: 0;
    box-shadow: none;
    background-color: var(--light-grey);
}
.input-wrap i{
    position: absolute;
    padding: 11px 10px;
    font-size: 18px;
    color: var(--green);
}
#login form span.form-link a{
    font-size: 14px;
}
#login p{
    font-size: 14px;
}
.line-between{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid var(--grey); 
    color: var(--grey);
    line-height: 0.1em;
    margin: 30px 0 20px;
}

.line-between span { 
    background:#fff; 
    padding:0 10px; 
}
#form-content form .btn-green{
    background-color: var(--green);
    border: 1px solid var(--green);
    color: #fff;
    border-radius: 10px;
    font-weight:500;
}
#form-content form  .btn-green:hover{
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--green);
}
#form-content form  .btn-green:active{
    box-shadow: none;
}

#form-content .input-form, .was-validated .form-group .input-form{
    width: 100%;
    font-size: 16px;
    border-radius: 10px !important;
    border: 1px solid var(--grey);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#form-content .input-form:focus, .was-validated .form-group .input-form:focus, form .custom-file-input:focus ~ .custom-file-label {
    border-color: var(--green);
    outline: 0;
    box-shadow: none;
}
#form-content span.form-link a{
    color: var(--green);
}
#form-content span.form-link a:hover{
    color: var(--dark-green);
    text-decoration: none;
}
#form-content .font-green{
    color: var(--dark-green);
}
#form-content .form-card h4{
    text-align: center;
    color: var(--dark-green);
}
.text-gray{
    color:var(--dark-grey);
    font-weight: 500 !important; 
}
.lock-icon i{
    background-color: var(--green);
    border-radius: 50%;
    padding: 16px 17px;
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
#form-content .form-group .stars {
	width: fit-content;
	cursor: pointer;
	color: var(--green) !important;
}
#form-content .form-group .rate {
	height: 50px;
	margin-left: -5px;
	padding: 5px;
	font-size: 25px;
	position: relative;
	cursor: pointer;
}
#form-content .form-group .rate input[type="radio"] {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%);
	pointer-events: none;
}
#form-content form .form-group .star-over::after {
	font-family: 'Font Awesome 5 Free';
    font-weight: 900;
	font-size: 1.4rem;
	content: "\f005";
	display: inline-block;
	color: var(--green);
	z-index: 1;
	position: absolute;
	top: 14px;
	left: 7px;
}

.form-group .rate:nth-child(1) .face::after {
	content: "\f119"; /* ☹ */
}
.form-group .rate:nth-child(2) .face::after {
	content: "\f11a"; /* 😐 */
}
.form-group .rate:nth-child(3) .face::after {
	content: "\f118"; /* 🙂 */
}
.form-group .rate:nth-child(4) .face::after {
	content: "\f580"; /* 😊 */
}
.form-group .rate:nth-child(5) .face::after {
	content: "\f59a"; /* 😄 */
}
.form-group .face {
	opacity: 0;
	position: absolute;
	width: 35px;
	height: 35px;
	background: var(--green);
	border-radius: 5px;
	top: -40px;
	left: 2px;
	transition: 0.2s;
	pointer-events: none;
}
.form-group .face::before {
	font-family: 'Font Awesome 5 Free';
    font-weight: 900;
	content: "\f0dd";
	display: inline-block;
	color: var(--green);
	z-index: 1;
	position: absolute;
	left: 9px;
	bottom: -15px;
}
.form-group .face::after {
	font-family: 'Font Awesome 5 Free';
    font-weight: 900;
	display: inline-block;
	color: #fff;
	z-index: 1;
	position: absolute;
	left: 5px;
	top: -1px;
}

.form-group .rate:hover .face {
	opacity: 1;
}
body#login{
    background-color: #76b94a34;
}
.intl-tel-input{
    width: 100%;
  }
.iti{
    width: 100%;
  }
.iti ul{
    max-width: 300px;
}
/* end css form */