@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*make box*/
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
/*CSS login page*/
.nav-box{
    display: flex;
    width: 100%;
    background: #F8F9FA;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
.nav-box .logo img{
    width: 124px;
    height: 50px;
    cursor: pointer;
}
section .img-box{
    position: relative;
    width: 50%;
    height: 100%;
}
section .img-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #49728C, #314A59);
    z-index: 1; /*show color*/
    mix-blend-mode: screen; /*make shadow*/
}
section .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .content-box{
    justify-content: center;
    align-items: center;
    display: flex; /*position center in three item (justify-content, align-items, and display(flex))*/
    width: 50%;
    height: 100%;
}
section .content-box .form-box{
    width: 70%;
}
section .content-box .form-box h2{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: 100px; /*font-havy(ketebalan)*/
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}
section .content-box .form-box a img{
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 160px;
    height: 70px;
}
section .content-box .form-box h4{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    font-size: 0.8rem;
    margin-bottom: 30px;
    border-bottom: 4px solid #0578A6; /*4px -> height line*/
    display: inline-block;
    letter-spacing: 1px;
}
section .content-box .form-box .input-box{
    margin-bottom: 10px;
}
section .content-box .form-box .input-box input{
    width: 100%;
    padding: 5px 20px; /*10px : jarak placeholder to box*/
    outline: none; /*shadow if we klik box shadow in box, gone*/
    border: 1px solid #A2CCF2;
    font-size: 16px;
    letter-spacing: 1px;
    background: #A2CCF2;
    border-radius: 30px;
}
section .content-box .form-box .input-box input[type="submit"]{
    background: #0578A6;
    color: #fff;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
section .content-box .form-box .input-box input[type="submit"]:hover{
    background: #1D5897;
}
section .content-box .form-box .remember a{
    font-size: 12px;
    color: #FF0000;
    text-decoration: none; /*none underline href*/
}
section .content-box .form-box .input-box p{
    font-size: 14px;
    text-align: right;
}
section .content-box .form-box .input-box p a{
    color: #FF0000;
    font-size: 12px;
    text-decoration: none; /*none underline href*/
}
section .content-box .form-box h3{
    text-align: center;
    margin: 50px 0 10px;
    font-weight: 300;
    font-size: 16px;
}
section .content-box .form-box .social-media{
    display: flex;
    justify-content: center;
    align-items: center; 
}
section .content-box .form-box .social-media li{
    list-style: none; /*bullet in li none*/
    width: 50px; /*space*/
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
section .content-box .form-box .social-media li a i{
    color: #000;
}
section .content-box .form-box .social-media li a i:hover{
    color: #1D5897;
}
.nav-box ul{
    display: flex;
    list-style: none;
}
.nav-box ul li{
    margin: 0 10px;
}
.nav-box ul li a{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.nav-box ul li a:hover{
    color: #195973;
}

/* CSS REGISTER */
main .row > #img-box-register{
    background-image: url(../image/building.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main .row > #img-box-register::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #49728C, #314A59);
    z-index: 1; /*show color*/
    mix-blend-mode: screen; /*make shadow*/
}

.line {
    border-bottom: 4px solid #0578A6; /*4px -> height line*/
    width: 30%;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    flex-direction: column;
    font-weight: bold; /*font-havy(ketebalan)*/
    font-size: 1.2rem;
    text-transform: capitalize;
}

.form-box-register .logo{
    width: 160px;
    height: 70px;
}

.form-input{
    width: 100%;
    padding: 5px 20px; /*10px : jarak placeholder to box*/
    outline: none; /*shadow if we klik box shadow in box, gone*/
    border: 1px solid #A2CCF2;
    font-size: 16px;
    letter-spacing: 1px;
    background: #A2CCF2;
    border-radius: 30px;
}

main .form-box-register .form-row{
    margin-bottom: 10px;
}

.text-red{
    color: #FF0000;
    margin-left: -5px;
    font-size: 14px;
}

.btn-login{
    background: #0578A6;
    color: #fff;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
}
.btn-login:hover{
    background: #1D5897;
}

.content-box-register .input-group-phone button{
    background: #0578A6;
    color: #fff;
    outline: none;
    font-size: 16px;
    border: 0px solid #A2CCF2;
    letter-spacing: 1px;
    width: 100%;
    padding: 5.5px 20px; /*10px : jarak placeholder to box*/
    border-radius: 30px 0 0 30px;
}
.content-box-register .input-group-phone button:hover{
    background: #1D5897;
}

.content-box-register .input-group-phone input[type="text"]{
    height: calc(1.3em + 0.75rem + 2px);
    outline: none; /*shadow if we klik box shadow in box, gone*/
    border: 1px solid #A2CCF2;
    font-size: 16px;
    letter-spacing: 1px;
    background: #A2CCF2;
    border-radius: 0 30px 30px 0;
}

.content-box-register .dropdown-menu{
    background: #0578A6;
    border-radius: 20px;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.content-box-register .input-group-phone .dropdown-item{
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
}
.content-box-register .input-group-phone .dropdown-item:hover, .content-box-register .input-group-phone .dropdown-item:focus{
    background-color: #1D5897;
}


.content-box-register{
    height: 100vh;
    padding: 60px 0 30px 0;
    background: rgb(255 255 255 / 0.8);
}

main .form-box-register p, .terms{
    left: -25px;
    font-size: 14px;
}

.terms{
    margin-left: 30px;
    margin-top: 10px;
}


main .form-box-register a{
    color: #FF0000;
    font-size: 12px;
    text-decoration: none; /*none underline href*/
}

.img-fluid{
    max-width: 100%;
    height: auto;
    width: 100%;
}
/* CSS Homepage */
.body {
    background-color: #F6F6F6;
    letter-spacing: 1px;
}

.bg-blue-secondary {
    background-color: #e1f0f3;
}

.section-header{
    padding: 15px 40px;
}

.header-main .logo {
    width: 124px;
    height: 50px;
    cursor: pointer;
}

.nav-link{
    color:#000;
}

.nav-link:hover,.nav-link:focus{
    color: #0578A6;
}

.col-login .login-line{
    border-right: 1px solid #000;
    padding: 15px 0;
}

.search-form {
    border: 1px solid #0578A6;
    border-radius: 0;
}

.search-button {
    color: #fff;
    background-color: #0578A6;
    border: 1px solid #0578A6;
    border-radius: 0;
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1) !important;
    padding: 4px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0;
    border-radius: 0.37rem;
}


.navbar-toggler-icon {
    background-image: url(../image/toogle-icon.png);
    border: 0;
}

.navbar-nav {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-around;
}

.icon-globe{
    font-size: 1.2rem;
    padding: 8px 2px;
}
.btn-chat{
	position:fixed;
	bottom:20px;
	right:10px;
	background-color:#A2CCF2;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    padding: 8px 15px;
    z-index: 100;
    font-weight: bold;
}
.btn-square{
	position:fixed;
	background-color:#A2CCF2;
	color:#FFF;
	text-align:center;
    padding: 4px 5px 2px 5px;
    z-index: 100;
    font-weight: bold;
	right:5px;
}
.btn-fax{
    top:18rem;
}
.btn-email{
    top:15.5rem;
}
.btn-phone{
    top:13rem;
}
.btn-up{
    top:10.5rem;
}
.floating-btn a:hover{
    text-decoration: none;
	color:#FFF;
	box-shadow: 2px 2px 3px #999;
}
.line-bottom-banner {
    border-bottom: 4px solid #0578A6; /*4px -> height line*/
    width: 20%;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section-banner{
    padding: 25px 40px;
}
.section-banner .panel-heading{
    border-top: 1px solid #fff;
}

.section-banner .nav .nav-item{
    padding-left: 15px;
}

.section-banner .category{
    max-height: 370px;
}

.section-login form .input-login-home{
    border: 0;
    border-radius: 0;
}

.section-login form a{
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

.section-login form .remember a {
    color: #FF0000;
}

.section-slide{
    padding: 25px 40px;
}

.media-29101 img {
    margin-bottom: 20px;
    max-width: 200px;
}
  
.media-29101 h3 {
    font-size: 18px;
    font-weight: 900 !important; 
}
.media-29101 h3 a {
  color: #6c757d; 
}
.active{
    color: #313131;
    font-weight: 1000px;
}
  
.owl-2-style .owl-nav
{
    display: none;
}

footer{
    color: #000;
    letter-spacing: 1px;
}
.footer{
    padding: 20px 40px 20px 40px;
    background-color: #e1f0f3;
}

.footer .img-logo{
    width: 50%;
}

.footer p{
    margin: 0;
    font-size: 0.9rem;
}

.footer .social-media a{
    color: #000;
    padding: 0 5px;
    font-size: 1.2rem;
}
.footer .social-media a:first-child{
    padding-left: 0;
}
.footer .social-media a:last-child{
    padding-right: 0;
}

.footer .subscribe-form {
    border: 1px solid #A2CCF2;
    border-radius: 0;
    color: #000;
    background-color: #5193AD;
}

.footer form .subscribe-form::placeholder {
    color: #000;
  }

.footer .subscribe-button {
    color: #000;
    background-color: #A2CCF2;
    border: 1px solid #A2CCF2;
    border-radius: 0;
}

.footer .nav .nav-link{
    color: #000;
    padding: 0;
}

.footer .nav .nav-link:hover{
    font-weight: bold;
}
.footer span{
    font-size: 0.7rem;
}
.copyright{
    background-color: #123C69;
    padding: 5px 40px;
    font-size: 0.8rem;
}
.copyright .nav .nav-link{
    color: #000;
}

.copyright .nav{
    justify-content: end;
}
.modal-header{
    background: #A2CCF2;
    color: #000;
    justify-content: center;
    align-items: center;
}
.img-message{
    position: relative;
    display: flex;;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
}
.btn-message{
    color: #fff;
    background: #0578A6;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}
.btn-message:hover{
    background: #1D5897;
    color: #fff;
}

/* CSS Newsletter */
.section-header .col-login a{
    text-decoration: none;
}

.section-header .col-login .user{
    background-color: #0578A6;
    height: 30px;
    padding: 4px 10px;
    margin-right: 10px;
    color: #fff;
    font-size: 0.7rem;
    border-radius: 30px;
}

.section-header .col-login .user i{
    font-size: 0.8rem;
}
.section-header .col-login a.user-icon{
    display: none;
}
#newsletter nav .dropdown-menu{
    border: 0;

}
#newsletter nav .dropdown-menu a:hover{
    background-color: #5193AD;
    color: #fff;

}
.section-news, .section-product, .section-profile{
    padding: 25px 40px;
}
.breadcrumb-menu a {
    text-decoration: none;
    color:#000;
    font-weight: bold;
    font-size: 0.8rem;
}
.breadcrumb-menu a:hover {
    text-decoration: none;
    color:#0578A6;
}

.section-news .card, .card-img-top{
    border-radius: 0;
}
.section-news .card-title{
    font-size: 0.8rem;
}
.section-news .card-body{
    font-size: 0.8rem;
    border: 1px solid #0578A6;
}
.section-news .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.section-news .card-img-left{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-news .btn-read-more{
    background-color: #0578A6;
    height: 30px;
    padding: 5px 10px;
    margin-right: 10px;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 30px;
    font-weight: bold;
}

.section-news .news-image {
    width: 100%;
    height: 17vw;
    object-fit: cover;
}
.section-news .content .news-title {
    margin: 30px 0;
    font-weight: bolder;
}

.section-news .btn-read-more:hover{
    background-color: transparent;
    color: #0578A6;
    border: 1px solid #0578A6;
}

.section-news .content .card-sm .card-body, .card-sm .card-body span, .card-sm .card-body .card-title{
    font-size: 0.6rem;
}
.section-faq{
    padding: 25px 40px;
}
.section-faq .breadcrumb-menu a {
    text-decoration: none;
    color:#000;
    font-weight: bold;
    font-size: 0.8rem;
}
.section-faq .breadcrumb-menu a:hover {
    text-decoration: none;
    color:#0578A6;
}
.faq{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-faq{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.accordion-item{
    background: #0DB3D9;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 2rem;
    box-shadow: .3rem 1px .3rem rgb(4, 62, 110);
}
.accordion-item a{
    font-size: 18px;
    font-weight: 10px;
    text-decoration: none;
}
.accordion-link{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #0DB3D9;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.accordion-link i{
    color: #fff;
    padding: 3px;
}
.accordion-link .bx-minus{
    display: none;
}
.answer{
    max-height: 0; /* animasi flow */
    overflow: hidden;
    position: relative;
    background-color: #0485a1;
    color: #fff;
    transition: max-height 650ms;
}
.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc48f;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.answer p{
    color: rgb(255, 255, 255, .6);
    font-size: 14px;
    padding: 2rem;
}
.accordion-item:target .answer{
    max-height: 10rem;
}
.accordion-item:target .accordion-link .bx-plus-medical{
    display: none;
}
.accordion-item:target .accordion-link .bx-minus{
    display: block;
}

/* CSS view all page category */
.banner-image .text-banner{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 3px;
}

.section-product .legend-filter{
    width:100%;
    padding: 20px;
    border: 1px solid #0578A6;
    font-weight: bold;
    border-radius: 10px;
}

.section-product .filter-category select{
    border:0;
}
.section-product .filter-category option{
    border:0;
}

.list-group-item{
    background: #C4C4C4;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 0 !important;
    }
.list-group-item:hover, .list-group-item .active{
    background: #1D5897;
    color: #fff;
    }

.btn-filter{
    background: #0578A6;
    color: #fff;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.btn-filter:hover{
    background: #1D5897;
}
.accordion-link:hover{
    color: #fff;
}

/* CSS profile */
.section-profile .account-content{
    border-left: 1px solid #000;
}
.change-image{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.change-image img{
    width: 8rem;
    border: 3px solid #000;
    border-radius: 50%;
    margin: 0 30px;
}
.account-content .change-image label {
	display: block;
	width: 50vw;
	max-width: 250px;
	background-color: #0578A6;
	border-radius: 30px;
	font-size: 0.8em;
	line-height: 2.5em;
	text-align: center;
    color: #fff;
    font-weight: bold;
}

.account-content .change-image label:hover {
	background-color: #1D5897;
}

.account-content .change-image label:active {
	background-color: #1D5897;
}

.account-content .change-image input[type=file] {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.account-content .input-group-phone button{
    background: #fff;
    color: #000;
    outline: none;
    font-size: 16px;
    border: 0;
    letter-spacing: 1px;
    width: 100%;
    padding: 5.5px 20px; /*10px : jarak placeholder to box*/
    border-radius: 10px 0 0 10px;
}


.account-content .form-control{
    outline: none; /*shadow if we klik box shadow in box, gone*/
    border: 0;
    font-size: 16px;
    letter-spacing: 1px;
    background: #fff;
    border-radius:10px;
}
.account-content .form-control input[type=text], .account-content .form-control input[type=email]{  
    height: calc(1.3em + 0.75rem + 2px);
}
.account-content .input-group-phone  input[type="text"]{
    border-radius: 0 10px 10px 0;
}
.account-content .input-group-phone input[type="text"]{
    height: calc(1.3em + 0.75rem + 2px);
    outline: none; /*shadow if we klik box shadow in box, gone*/
    border: 0;
    font-size: 16px;
    letter-spacing: 1px;
    background: #fff;
    border-radius: 0 10px 10px 0;
}

.account-content .dropdown-menu{
    background: #fff;
    border-radius: 20px;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.account-content .input-group-phone .dropdown-item{
    color: #000;
    font-size: 16px;
    border-radius: 30px;
}
.account-content .input-group-phone .dropdown-item:hover, .account-content .input-group-phone .dropdown-item:focus{
    background-color: #1D5897;
    color: #fff;
}
.account-content .btn-submit{
    background: #0578A6;
    color: #fff;
    padding: 5px 20px;
    border-radius: 30px;
}
.account-content .btn-submit:hover{
    background: #1D5897;
}
.section-about-us{
    padding: 25px 40px;
}
.section-about-us .breadcrumb-menu a {
    text-decoration: none;
    color:#000;
    font-weight: bold;
    font-size: 0.8rem;
}
.section-about-us .breadcrumb-menu a:hover {
    text-decoration: none;
    color:#0578A6;
}
.banner-image .text-banner-about{
    text-align: left;
    color: #fff;
    font-weight: bold;
    margin-top: 64px;
    margin-left: 120px;
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.banner-image .text-banner-about p{
    font-size: 16px;
    text-transform: initial;
    margin-top: 15px;
}
.banner-image .text-banner-about a{
    color: #fff;
    font-size: 14px;
    text-transform: initial;
    border-radius: 40px;
    text-decoration: none;
    background: #0578A6;
    padding: 10px 20px;
}
.title-about{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 3rem;
}
.title-about .title-one{
    color: #0578A6;
}
.title-about .title-two{
    margin-left: 10px;
}
.description-profile{
    padding-top: 30px;
}
.detail-profile{
    font-size: 14px;
    padding-left: 40px;
}
.download-profile img{
    width: 70%;
    height: 100%;
    padding-left: 30px;
}
.section-vision-mision{
    background-image: linear-gradient(-90deg, #A2F2EA,  #0578A6);
    width: 100%;
    height: 100%;
    padding: 20px;
}
.img-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 30%;
}
.big-title{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 5px 0;
}
.sub-title{
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-values{
    padding: 25px 40px;
}

/* CSS message */
.account-content .message-box{
    border-top: 1px solid #0578A6;
    border-left: 1px solid #0578A6;
    border-right: 1px solid #0578A6;
    border-radius: 10px 10px 0 0;
    font-size: 0.8rem;
    font-weight: bold;
    height: 400px;
    overflow-y: auto;
}

.account-content .message-box .outgoing-msg{
    width: fit-content;
    height: max-content;
    padding: 10px;
    background-color: #A2CCF2;
    color: #000;
    border-radius: 10px;
}
.account-content .message-box .incoming-msg{
    width: fit-content;
    height: max-content;
    padding: 10px;
    background-color: #DCDCDC;
    color: #000;
    border-radius: 10px;
}
.account-content .type-message{
    position: relative;
}
.account-content .type-message .input-message input[type=text]{
    width:100%;
    min-height: 60px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #0578A6;
    padding-right: 120px;
}

.account-content .input-message label {
	display: block;
    position: absolute;
    right: 90px;
    top: 18px;
    color: #000;
    cursor: pointer;
}

.account-content .input-message input[type=file] {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.account-content .type-message .input-message .btn-send{
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: #0578A6;
    border-radius: 20px;
    padding: 2px 10px;
    color: #FFF;
    font-weight: bold;
}
.column-value{
    border: 1px solid #0578A6;
}
.section-terms{
    padding: 25px 40px;
}
.title-terms{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-terms .title-one{
    color: #0578A6;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}
.description-terms{
    padding-top: 30px;
    padding-left: 83px;
    padding-right: 83px;
}
.description-terms .title-two{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}
.description-terms .title-two .sub-title-two p{
    font-size: 0.2rem;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
}

.section-product-detail{
    padding: 25px 40px;
}
.section-product-detail .btn-chat-now{
    background: #0578A6;
    color: #fff;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.section-product-detail .btn-chat-now:hover{
    background: #1D5897;
}
/* HOME PAGE */
.row.justify-content-md-center.row-ctg-one {
    max-width: 100%;
}
.row.justify-content-md-center.row-ctg-two {
    max-width: 100%;
}
.row.justify-content-md-center.row-ctg-three {
    max-width: 100%;
}
.row-ctg-one{
    padding-bottom: 8px;
}
.ctg-one{
    padding: 40px;
}
.ctg-two{
    padding: 40px;
}
.ctg-three{
    padding: 40px;
}
.card.cd-h {
    max-width: 18rem;
    /* margin-bottom: 10px; */
    margin-top: 10px
}
.col.btn-d {
    margin-top: 10px;
    margin-right: 0px;
    text-align: right;
}

/*size for responsive*/
@media (max-width: 576px)
{
    .header-main {
        padding: 0;
    }
    .col-logo{
        padding: 10px 0;
    }
    .col-login .login-line{
        border-right: 1px solid #000;
        padding: 20px 0;
    }
    .col-login .nav-link{
        font-size: 14px;
    }
    .section-header .col-login a.user{
        display: none;
    }
    .section-header .col-login a.user-icon{
        display: block;
        color: #0578A6;
    }
    .section-header .col-login .bi{
        font-size: 1.2rem;
    }
    .change-image img{
        width: 5rem;
        margin-bottom: 10px;
    }  
    .change-image{
        flex-direction: column;
    }
    .copyright{
        padding: 10px 40px 5px 40px;
    }    

}

@media (max-width: 950px)
{
    .content-box-register{
        padding: 60px 30px 30px 30px;
    }

}

@media (max-width: 1024px){
    .banner-image .text-banner-about{
        margin-top: -40px;
        padding: 40px;
        margin-left: 5px;
    }
}

@media (max-width: 768px)
{
    section .img-box{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .content-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1; /*z position center*/
    }
    section .content-box .form-box{
        width: 100%;
        padding: 30px;
        background: rgb(255 255 255 / 0.8);
        margin: 30px;
    }
    section .content-box .form-box h3{
        width: 100%;
        text-align: center;
        margin:  30px;
        font-weight: 500;
    }
    #register-page{
        background-image: url(../image/building.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    main .row > #img-box-register{
        display:none;
    }
    main .form-box-register .form-row{
        margin-bottom: 0;
    }
    main .form-box-register .form-row .form-input{
        margin-bottom: 10px;
    }
    .content-box-register{
        margin: 25px 15px 25px 15px;
        padding: 0;
        z-index: 1;
        height: 93%;
        bottom: 0;
    }
    .form-box-register{
        padding: 40px 40px 30px 40px;
    }
    .section-banner .banner-image{
        padding: 20px 0;
    }

    .section-banner .category, .section-banner .section-login{
        display: none;
    }
    .copyright .row .col-md-6, .copyright .nav{
        text-align: center;
        justify-content: center;
    }
    .section-profile .account-content{
        border-left: 0;
        margin: 20px 0;
    }
    .banner-image .text-banner-about{
        margin-top: -40px;
        padding: 40px;
        margin-left: 5px;
    }
    .banner-image h2 .text-banner-about{
        font-size: 0.5rem;
    } 
    .banner-image .text-banner-about p {
        font-size: 12px;
        text-transform: initial;
        margin-top: 6px;
        margin-bottom: 0;
    }
    .banner-image .text-banner-about a {
        color: #fff;
        font-size: 9px;
        text-transform: initial;
        border-radius: 40px;
        text-decoration: none;
        background: #0578A6;
        padding: 10px 20px;
        margin-bottom: 30px;
    }
}

.intl-tel-input{
    width: 100%;
  }
.iti{
    width: 100%;
  }
.iti ul{
    max-width: 300px;
}